.tabItem {
  display: inline-flex;
  padding: 8px 10px 6px;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  align-items: center;
  border-bottom: 3px solid transparent;
  &.tabActive {
    color: skyblue;
    border-bottom: 3px solid skyblue;
  }
  // &:first-child {
  //   cursor: text;
  // }
}
